#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

/* AG Grid custom styling */
.ag-theme-quartz {
  --ag-header-background-color: #12589f;
  --ag-header-foreground-color: white;
  --ag-odd-row-background-color: #f9f9f9;
}

.ag-header-cell{
    font-weight: 700;
}

.ag-cell {
    cursor: pointer;
}
